@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
}

body{
    display :flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(251, 198, 141);
    font-family: 'Source+Sans+Pro',sans-serif;
    height: 100vh;
    overflow: hidden;
}

#sinav{
    width: 60rem;
    background-color: rgb(241, 187, 106);
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0.2rem lightgray;
    overflow: hidden;
}

.soruAlani{
    padding: 4rem;
}

h2{
    text-align: center;
    padding: 1rem;
}

ul{
    list-style-type: none;
}

ul li{
    font-size: 2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button{
    background-color: rgb(214, 122, 36);
    width: 100%;
    display: block;
    border: none;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: inherit;
}

button:hover{
    background-color: rgb(247, 151, 62);
}

button:focus{
    background-color: rgb(187, 104, 25);
    outline: none;
}



